
<html>
<head>
    <title>Insurance Policy Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet"href="~/css/StyleSheet.css" />
<style>
   
.cc{
    background-color:lightblue;
}
  
    ul {
        color : blue;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

    ul li {
        display: inline-block;
        list-style-type: none;
        margin-left: 10px;
    }

        ul li a {
            text-decoration: none;
            color: #01121c;
            padding: 5px 10px 5px 10px;
            border: 1px;
            border-radius: 5px;
        }

            ul li a:hover {
                background-color: #e33719;
                color: white;
                transition: 0.5s ease;
            }

        ul li.active a {
            background-color: #e33719;
            color: white;
        }
  
  .text{
    font-size: 60px;
    color:darkred;
    font-family: sans-serif;
    text-shadow: 0px 15px 12px #000;
    height:10px;
    background-color:aliceblue;
}
</style>
</head>



<body>
    
    <header >
        
    <div class="text">

        Insurance Policy Management
     </div>    
            
    
    
   
  
       



                <ul>                    
                    

                    <li>
                <a  aria-current="page" asp-action="Home" class="active">Home</a> </li>
                <li> <a  asp-action="Profile">Profile</a></li>
               <li>  <a  asp-action="message">Sendmessage</a></li>
               <li>  <a  asp-action="Appliedpolicy">Appliedpolicy</a></li>
               <li>  <a  asp-action="ListofPolicy">ListofPolicy</a></li>

               <li>@if (Context.Session.GetString("user") == null)
                {
                <a  asp-action="Signin"  class="signin">Signin/Signup</a>
                 }
                else
                {
                <a  asp-action="Signout" style="margin-left:10px">Signout</a>
                 }</li></ul>
           
             <br >
             <br >
             <br >



    </header>
    <div class="cc">
       @RenderBody()
    
      </div> 
</body>


</html>>
